<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>fiapfuncionarios-web</display-name>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>blueSky</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.CONTROL_SKINNING</param-name>
    <param-value>enable</param-value>
  </context-param>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <display-name>Autenticacao no Sistema</display-name>
    <web-resource-collection>
      <web-resource-name>contexto da aplicacao</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>usuarios do sistema</description>
      <role-name>GERENTE</role-name>
      <role-name>FUNCIONARIO</role-name>
      <role-name>ADMINISTRADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Cadastro Funcionario</display-name>
    <web-resource-collection>
      <web-resource-name>Cadastro</web-resource-name>
      <url-pattern>/funcionario/cadastro/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Todos</description>
      <role-name>GERENTE</role-name>
      <role-name>FUNCIONARIO</role-name>
      <role-name>ADMINISTRADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Promover Funcionario</display-name>
    <web-resource-collection>
      <web-resource-name>Promover</web-resource-name>
      <url-pattern>/funcionario/promocao/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Somente Gerente</description>
      <role-name>GERENTE</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Excluir Funcionario</display-name>
    <web-resource-collection>
      <web-resource-name>Exculir</web-resource-name>
      <url-pattern>/funcionario/exclusao/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Somente Administrador</description>
      <role-name>ADMINISTRADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>FUNCIONARIO</role-name>
  </security-role>
  <security-role>
    <role-name>GERENTE</role-name>
  </security-role>
  <security-role>
    <role-name>ADMINISTRADOR</role-name>
  </security-role>
</web-app>