@CHARSET "UTF-8";

body, h1{
	margin: 0px;
	padding: 0px;
}

/* header */

#header{
	background-color: #1B5790;
	height: 70px;
	padding: 5px;
	color: white;
	font:  Arial,Verdana,Tahoma,sans-serif;
}

#header #logo{	
	margin-top: 25px;		
	font-size: 40px;
}

#header #logo #slogan{	
	font-size: 15px;
	color: white;
}

#header #version{	
	margin-top: 53px;	
	font-size: 12px;	
}

/* menu */

#menu{
	background-color: #E5ECF3;
	height: 50px;
}


/* page */

#page{

}

#page #pageTitle{
	width: 50%;
	margin-top: 20px;
}

#page #pageTitle h1{
	border-bottom: 1px solid #CFDEF0;
	font-size: 23px;
	font-weight: normal;
}

#page #pageContent{
	margin-top: 20px;
}



/* novo lançamento */

#novoLacamento{

}


#novoLacamento{

}


#novoLacamento #dados{
	margin-top: 20px;
}


#novoLacamento #custas{
	margin-top: 20px;
}

